<main>
  Count matching tracks from two playlists from AppleMusic and Spotify
  <ul>
    <li>
      <a href="/compare-playlists?spotify=no_match&appleMusic=no_match">no matching tracks</a>
    </li>
    <li>
      <a href="/compare-playlists?spotify=match&appleMusic=match">has matching tracks</a>
    </li>
  </ul>
</main>
